<a href=""></a><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Knight Bootstrap Template - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link
      href="../static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/icofont/icofont.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/owl.carousel/../static/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Knight - v2.2.1
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header
      id="header"
      class="d-flex align-items-center"
      style="background-color: #040404"
    >
      <div class="container">
        <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
        <div class="logo d-block d-lg-none">
          <a href="index.html"
            ><img src="../static/assets/img/희열.gif" alt="" class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul class="nav-inner">
            <li class="active"><a href="index.html">Home</a></li>
            <li class="drop-down">
              <a href="">About</a>
              <ul>
                <li>
                  <a href="about_us.html">About Us</a>
                </li>
                <li>
                  <a href="team.html">Team</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="services.html">Services</a>
            </li>

            <li class="nav-logo">
              <a href="index.html"
                ><img
                  src="../static/assets/img/nomove_희열.png"
                  alt=""
                  class="img-fluid"
              /></a>
            </li>

            <li>
              <a href="stack.html">Stack</a>
            </li>
            <li>
              <a href="pricing.html">Pricing</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->
    <!-- ======= All music Section ======= -->
    <section id="all_music" class="all_music" style="background-color: #e39eb0">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h1><strong>전체 음원</strong></h1>
        </div>
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          /><button type="button" class="btn btn-primary">search</button>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <table
            border="1"
            align="center"
            style="width: 80%; text-align: center"
          >
            <colgroup>
              <col style="width: 12px" />
              <!-- 곡 상세가기 -->
              <col style="width: 40px" />
              <!-- 곡정보 -->
              <col style="width: 190px" />
              <!-- 듣기 -->
              <col style="width: 12px" />
              <!-- 담기 -->
              <col style="width: 12px" />
            </colgroup>

            <thead>
              <tr>
                <th scope="col">
                  <div class="wrap t_right">
                    <input
                      type="checkbox"
                      title="곡 목록 전체 선택"
                      class="input_check d_checkall"
                    />
                  </div>
                </th>
                <th scope="col">
                  <div class="wrap none">곡 상세가기</div>
                </th>
                <th scope="col">
                  <div class="wrap pd_l_12">곡정보</div>
                </th>
                <th scope="col">
                  <div class="wrap t_center">듣기</div>
                </th>
                <th scope="col">
                  <div class="wrap t_center">담기</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="lst50" id="lst50" data-song-no="34819473">
                <td>
                  <div class="wrap t_right">
                    <input
                      type="checkbox"
                      title="사건의 지평선 곡 선택"
                      class="input_check"
                      name="input_check"
                      value="34819473"
                    />
                  </div>
                </td>

                <td>
                  <div class="wrap">
                    <a
                      href="javascript:melon.link.goSongDetail('34819473');"
                      title="사건의 지평선 곡정보"
                      class="btn button_icons type03 song_info"
                      ><span class="none">곡정보</span></a
                    >
                  </div>
                </td>
                <td>
                  <div class="wrap">
                    <div class="wrap_song_info">
                      <div class="ellipsis rank01">
                        <span>
                          <a
                            href="javascript:melon.play.playSong('1000002721',34819473);"
                            title="사건의 지평선 재생"
                            >사건의 지평선</a
                          >
                        </span>
                      </div>
                    </div>
                  </div>
                </td>

                <td>
                  <div class="wrap t_center">
                    <button
                      type="button"
                      title="듣기"
                      class="button_icons play"
                      onclick="melon.play.playSong('1000002721',34819473);"
                    >
                      <span class="none">듣기</span>
                    </button>
                  </div>
                </td>
                <td>
                  <div class="wrap t_center">
                    <button
                      type="button"
                      title="담기"
                      class="button_icons scrap"
                      onclick="melon.play.addPlayList('34819473');"
                    >
                      <span class="none">담기</span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <!-- End All music Section -->
    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="../static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  </body>
  <footer id="footer">
    <div class="footer-bottom-fixed">
      <a href="songInfo.html"
        ><button type="button" class="btn btn-primary">submit</button></a
      >
    </div>
  </footer>
</html>
