<a href=""></a><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Knight Bootstrap Template - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link
      href="../static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/icofont/icofont.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/owl.carousel/../static/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Knight - v2.2.1
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header
      id="header"
      class="d-flex align-items-center"
      style="background-color: #040404"
    >
      <div class="container">
        <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
        <div class="logo d-block d-lg-none">
          <a href="mainLogo.html"
            ><img src="../static/assets/img/희열.gif" alt="" class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul class="nav-inner">
            <li><a href="mainLogo.html">Home</a></li>
            <li class="drop-down">
              <a href="">About</a>
              <ul>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="team.html">Team</a></li>
              </ul>
            </li>
            <li>
              <a href="services.html">Services</a>
            </li>

            <li class="nav-logo">
              <a href="mainLogo.html"
                ><img
                  src="../static/assets/img/nomove_희열.png"
                  alt=""
                  class="img-fluid"
              /></a>
            </li>

            <li>
              <a href="stack.html">Stack</a>
            </li>
            <li>
              <a href="pricing.html">Pricing</a>
            </li>
            <li class="active">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->
    <section id="info" class="info" style="background-color: #e39eb0">
      <div class="section_info">
        <div class="wrap_info">
          <div class="thumb">
            <a href="#" class="image_typeAll">
              <img
                onerror="WEBPOCIMG.defaultAlbumImg(this);"
                width="282"
                height="282"
                src="https://cdnimg.melon.co.kr/cm2/album/images/109/03/868/10903868_20220330103544_500.jpg?e89c53bde5d39b21b09e8007db5b9cc0/melon/resize/282/quality/80/optimize"
                alt=""
              />
              <span class="bg_album_frame"></span>

              <button
                type="button"
                title="듣기"
                class="button_icons type04 play"
                onclick="javascript:melon.play.playSong('29010101','34819473');"
              >
                <span class="none">듣기</span>
              </button>
            </a>
          </div>
          <div class="entry">
            <div class="info">
              <div class="song_name">
                <strong class="none">곡명</strong>

                사건의 지평선
              </div>

              <div class="artist">
                <a
                  href="javascript:melon.link.goArtistDetail('203912')"
                  title="윤하 (YOUNHA)"
                  class="artist_name"
                  ><span>윤하 (YOUNHA)</span
                  ><span class="thumb_atist"
                    ><img
                      onerror="WEBPOCIMG.defaultArtistImg(this);"
                      src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/002/03/912/203912_20220330112405.jpg"
                      width="52"
                      height="52" /></span
                ></a>
              </div>
            </div>
            <div class="meta">
              <dl class="list">
                <dt>앨범</dt>
                <dd>
                  <a href="javascript:melon.link.goAlbumDetail('10903868');"
                    >YOUNHA 6th Album Repackage 'END THEORY : Final Edition'</a
                  >
                </dd>
                <dt>발매일</dt>
                <dd>2022.03.30</dd>
                <dt>장르</dt>
                <dd>록/메탈</dd>

                <dt>FLAC</dt>
                <dd>Flac 16bit</dd>
              </dl>
            </div>
            <div class="button d_song_like">
              <button
                type="button"
                class="button_etc like type02"
                id="btnLike"
                title="사건의 지평선 좋아요"
                data-song-no="34819473"
                data-song-menuid="29010101"
                data-target-id="d_like_count"
              >
                <span class="odd_span">좋아요</span>
                <span id="d_like_count" class="cnt">195,040</span>
              </button>

              <button
                type="button"
                title="곡 다운"
                class="btn"
                onclick="javascript:melon.buy.goBuyProduct('downloadfrm', '34819473', '3C0001', '','0', '');"
              >
                <span class="button_icons download type03"></span>
                <span class="text">곡 다운</span>
                <span class="button_icons arrow_link02"></span>
              </button>

              <button
                type="button"
                title="FLAC 다운"
                class="btn"
                onclick="javascript:melon.buy.goBuyProduct('downloadfrm', '34819473', '3C0001', '','110', '');"
              >
                <span class="button_icons download type03"></span>
                <span class="text">FLAC 다운</span>
                <span class="button_icons arrow_link02"></span>
              </button>

              <button
                type="button"
                title="선물하기"
                class="btn"
                onclick="javascript:melon.buy.goPresentOnlyOne('song', 34819473, '29010101');"
              >
                <span class="button_icons type03 gift"></span>
                <span class="text">선물하기</span>
                <span class="button_icons arrow_link02"></span>
              </button>
            </div>
            <div class="share">
              <dl>
                <dt>댓글</dt>
                <dd>
                  <a href="javascript:goReview();">
                    <span id="revCnt" class="text">2,567개</span>
                    <span class="button_icons arrow_link02"></span>
                  </a>
                </dd>
                <dt>공유</dt>
                <dd>
                  <div class="wrap_sns">
                    <button
                      type="button"
                      title="친구에게 음악메시지 보내기"
                      class="bullet_icons sns frend"
                      onclick="javascript:melon.link.goMultiMessagePop('song','34819473', '29010101');"
                    >
                      <span class="none">친구</span>
                    </button>
                    <button
                      type="button"
                      title="페이스북"
                      id="songFacebook"
                      class="bullet_icons sns facebook"
                      data-menuid="29010101"
                    >
                      <span class="none">페이스북</span>
                    </button>
                    <button
                      type="button"
                      title="트위터"
                      id="songTwitter"
                      class="bullet_icons sns twitter"
                      data-menuid="29010101"
                    >
                      <span class="none">트위터</span>
                    </button>
                  </div>
                </dd>
              </dl>

              <div class="chart">
                <span class="bullet_icons chart_i"></span> 어제의 차트 순위
                <span class="num">1</span>위
              </div>
            </div>
            <div class="etc">
              <button
                type="button"
                title="담기"
                class="btn"
                onclick="javascript:melon.play.addPlayList('34819473');"
              >
                <span class="button_icons type03 scrap"></span>
                <span class="cnt">담기</span>
              </button>
            </div>
          </div>
        </div>
        <!-- 20171116 -->

        <!-- //20171116 -->
      </div>
    </section>

    <script src="//www.apiservice.kr/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="//www.apiservice.kr/js/js.plugin/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="//www.apiservice.kr/js/anymobi/common/string.js"></script>
    <script src="../common/js/common.js?v=20200519"></script>
    <script src="./js/recruit.js?v=20190125-2"></script>
    <script>
      TweenMax.staggerFrom(
        $(".is-online .grid-item"),
        0.6,
        { opacity: 0, x: "-50%", ease: Power2.easeOut },
        0.8
      );

      var inputVal, inputLabel, inputLine;

      function myFunc(thisObj) {
        (inputVal = thisObj.val()),
          (inputLabel = thisObj.closest("li").find("label")),
          (inputLine = thisObj.closest("li").find("span"));
      }
      $("input").focus(function () {
        myFunc($(this));

        inputLabel.addClass("on");
        inputLine.addClass("on");
      });
      $("input").blur(function () {
        myFunc($(this));

        if (!(inputVal && inputVal.length > 0)) {
          inputLabel.removeClass("on");
        }
        inputLine.removeClass("on");
      });

      // 첨부파일
      $(".attach-file")
        .focus(function () {
          $('input[type="file"]').trigger("click");
        })
        .blur(function () {});
      $('input[type="file"]').change(function () {
        $(".attach-file").val(this.value.replace(/^.*[\\\/]/, ""));
        myFunc($(this));
        inputLine.removeClass("on");
      });
    </script>
  </body>
</html>
