<a href=""></a><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Knight Bootstrap Template - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link
      href="../static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/icofont/icofont.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/owl.carousel/../static/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Knight - v2.2.1
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header
      id="header"
      class="d-flex align-items-center"
      style="background-color: #040404"
    >
      <div class="container">
        <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
        <div class="logo d-block d-lg-none">
          <a href="mainLogo.html"
            ><img src="../static/assets/img/희열.gif" alt="" class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul class="nav-inner">
            <li class="active"><a href="mainLogo.html">Home</a></li>
            <li class="drop-down">
              <a href="">About</a>
              <ul>
                <li><a href="./about_us.html">About Us</a></li>
                <li><a href="./team.html">Team</a></li>
              </ul>
            </li>
            <li><a href="./services.html">Services</a></li>

            <li class="nav-logo">
              <a href="index.html"
                ><img
                  src="../static/assets/img/nomove_희열.png"
                  alt=""
                  class="img-fluid"
              /></a>
            </li>

            <li>
              <a href="./stack.html">Stack</a>
            </li>
            <li>
              <a href="./pricing.html">Pricing</a>
            </li>
            <li>
              <a href="./contact.html">Contact</a>
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team" style="background-color: #e39eb0">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>
            Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum
            quidem
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in">
              <div class="member-img">
                <img
                  src="../static/assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>김주영</h4>
                <span>베짱이</span>
                <p>
                  Animi est delectus alias quam repellendus nihil nobis dolor.
                  Est sapiente occaecati et dolore. Omnis aut ut nesciunt
                  explicabo qui. Eius nam deleniti ut omnis
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                <img
                  src="../static/assets/img/team/back.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>백현선</h4>
                <span>회장님</span>
                <p>
                  Aspernatur iste esse aliquam enim et corporis. Molestiae
                  voluptatem aut eligendi quis aut. Libero vel amet voluptatem
                  eos rerum non doloremque
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-img">
                <img
                  src="../static/assets/img/team/team-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>안경준</h4>
                <span>사장님</span>
                <p>해병대 병장 만기 전역</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                <img
                  src="../static/assets/img/team/team-2.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>김한수</h4>
                <span>베짱이</span>
                <p>
                  Aspernatur iste esse aliquam enim et corporis. Molestiae
                  voluptatem aut eligendi quis aut. Libero vel amet voluptatem
                  eos rerum non doloremque
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                <img
                  src="../static/assets/img/team/team-2.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>배연철</h4>
                <span>베씨</span>
                <p>
                  Aspernatur iste esse aliquam enim et corporis. Molestiae
                  voluptatem aut eligendi quis aut. Libero vel amet voluptatem
                  eos rerum non doloremque
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team Section -->
    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="../static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
